:root {
    --white-text:#FFFFFF;
    --iris-text:#4D5AE5;
    --navy-text:#2E2F42;
    --cloud-text:#F4F4FD;
}
body {
  font-family: "Roboto", sans-serif;
}

.header-item {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navy-text)
}

.header-nav {
    background-color: var(--white-text);
}